h1 {
  font-weight: 100;
  font-size: 3.5rem;
  margin-left: 40%;
}
a{
  text-decoration: none;
}
a:hover{
background: #B91646;
}
header{
  font-family: sans-serif;
  font-size: 1.5rem;
margin-top: 30px;
}

.gmail {
  margin-left: 75%;
  margin-right: 15px;
}

.profile-pic {
  margin-right: 15px;
}

#google {
display: inline-block;
margin-left: 23%;
}

.form {
margin-right: 200px;
}

.gsearch {
border: 50%;
margin-top: 50px;
width: 40%;
padding: 20px;
margin-right: 50px;
margin-left: 87px;
border-radius: 1px;
line-height: 12px;
}

.feeling {
width: 40%;
padding: 20px;
border: 50%;
margin-top: 50px;
border-radius: 1px;
line-height: 12px;


}
#lower-end {
  padding: 30px;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
background: #EDEDED;
margin-top: 11%;
color: #000;
}

#search {
  width: 90%;
  padding: 30px;
  padding-right: 300px;
  border: 2px solid #ccc;
  background-image: url('searchicon.png');
  border-radius: 51px;
}
span{
color: #4285F4;
}
.ooo{
  color: #DB4437;
}
.second-o{
  color: #F4B400;
}
.lll{
color: #0F9D58;
}

main{
  margin-top: 90px;
}
.avert{
  margin-right: 5%;
}
.busi{
  margin-right: 5%;
}
.how-to{
  margin-right: 5%;
}
.inviro{
  margin-right: 5%;
}
.privacy{margin-right: 5%;

}
.terms{
margin-right: 5%;

}
footer a{
  color: #99A799;
}